<!--<!DOCTYPE html>
<html>
<head>
	<title>To-Do List</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="todo.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>To Do List</h1>
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  		<div class="mdl-tabs__tab-bar">
      <a href="#add-item" class="mdl-tabs__tab is-active">Add Item</a>
      <a href="#todo" class="mdl-tabs__tab">To-Do Tasks</a>
      <a href="#completed" class="mdl-tabs__tab">Completed</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="add-item">
  	<div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="new-task">
  	</div>

	<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
  <i class="material-icons">add</i>
</button>
  </div>
  <div class="mdl-tabs__panel" id="todo">
    <ul id="incomplete-tasks">
    
	</ul>
  </div>
  <div class="mdl-tabs__panel" id="completed">
    <ul id="completed-tasks" class="mdl-list">
    
    </li>
    </ul>
  </div>
</div>
	</div>
	<script src="js/script.js"></script>
</body>	
</html>-->


<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ToDo List in Vue.js</title>
		<link text="text/css" rel="stylesheet" href="todo.css"/>
    </head>

    <body>
        <!-- Main div holding our application data -->
        <div class="container" id="app">
			<h3>{{ title }}</h3>
			
			<!-- Panel for holding our input -->
			<section class="panel">
				<input type="checkbox" id="mark-all" v-bind:checked="areAllSelected" v-on:click="selectAll"/>
				<input type="text" placeholder="what do you need to do?" autofocus class="text-input" v-model="text" v-on:keyup.enter="addTodo()">
				<button v-on:click="clearTodo()">Clear List</button>
			</section>

			<!-- unordered list for holidng our todo items-->
            <ul class="list">
                <li v-for="item in list" v-bind:class="{done: item.checked}">
					<input type="checkbox" class="checkbox" v-model="item.checked"/>
                    <span>{{ item.text }}</span>
                    <button class="delete" v-on:click="removeTodo(item)">X</button>
                </li>
            </ul>
        </div>

        <!-- scripts JS -->
        <script src="vue.js"></script>
        <script>
			//create a new Vue instance
            new Vue({
				//bind this new instance with our container div with id of app
                el: '#app',
				
				//this is where we will register the values that holds data for our application
                data: {
					title: 'TODO LIST APP WITH VUE.JS',
                    text: '',
                    list: []
                },
				
				//this is where we will hold the methods we want to use in our application
                methods: {
                    addTodo() {
						//trim() is used to remove whitespaces from both ends of a string
						var item = this.text.trim();
						
						//if item is not an empty string
						if(item) {
						//push an object containing the item to the list array
							this.list.push({
								text: item,
								checked: false
							})
							//reset text to an empty field so the input field is cleared
							this.text = ''
						}
                    },

                    removeTodo(item) {
						var index = this.list.indexOf(item);
                        this.list.splice(index, 1)
                    },
					
					clearTodo() {
						//setting list to an empty array clears the whole list
						this.list = [];
					},
					
					selectAll(item) {
						//target value is set to the opposite of areAllSelected
						var targetValue = this.areAllSelected ? false : true;
						//we use a for loop to set the checked state of all items to the target value
						for (var i = 0; i < this.list.length; i++) {
							this.list[i].checked = targetValue;
						}
					}
                },
				
				computed: {
					areAllSelected() {
						//check if every checked property returns true and if there is at least one to-do item
						return this.list.every(function(item) {
							return item.checked;
						}) && this.list.length > 0;
					}
				}
            })
        </script>
    </body>
</html>